@font-face {
    font-family: 'Windows95Font';
    src: url('fonts/W95FA.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Basic Reset */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%; /* Ensure body fills full height */
    overflow: hidden; /* Prevent scrolling */
}

body {
    font-family: Windows95Font, Windows95Font;
    background-color: #00ffff; /* Background color */
    color: #ffff00; /* White text color */
    display: flex; /* Use flexbox for layout */
    flex-direction: column; /* Arrange children vertically */
    align-items: center; /* Center items horizontally */
    justify-content: center; /* Center items vertically */
    position: relative; /* Position for absolute child elements */
}

.back-link {
    position: absolute; /* Position link absolutely */
    color: #ffff00; /* White color for the link */
    font-size: 1.5em; /* Adjust font size */
    top: 20px; /* Position for top left link */
    left: 20px; /* Position for top left link */
}

.band-gif {
    max-width: 100%; /* Make image responsive */
    max-height: 70vh; /* Limit height to 70% of viewport height */
    margin: 50px 0; /* Space above and below the image */
    display: block; /* Ensure the image is displayed as a block */
}

.link-container {
    position: absolute; /* Positioning for links */
    bottom: 570px; /* Space from the bottom */
    right: 20px; /* Space from the right */
    text-align: right; /* Right align links */
}

.link-container a {
    display: block; /* Display links one below the other */
    color: #ffff00; /* Link color */
    font-size: 1.2em; /* Adjust font size */
    margin: 5px 0;
}