@font-face {
    font-family: 'Windows95Font';
    src: url('fonts/W95FA.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;  
    overflow: hidden; /* Prevent scrolling */
}

body {
    font-family: Windows95Font, Windows95Font;
    background-color:#55ff00;
    color: #ffffff;
    line-height: 1.5;
}

main {
    margin-top: 0px;
    font-size: 2.5em;
}

h2 {
    font-size: 2em;
}

section {
    margin-left: 50px;
    margin-bottom: 20px;
}

/* General link styles */
a {
    color: white;   
}

/* Page 1 styles */
.page1 {
    background-color: #55ff00; /* New background color */
    color: #f0f0f0; /* General text color */
    height: 100%; /* Full height */
}

.page1 h2 {
    color: #ffffff; /* White color for h2 */
}

.page1 a {
    color: #ffffff; /* White color for links */
}
